<h1><a class="btn btn-default" href="#/experiments/new">New Experiment</a></h1>

<div class="row">
	<div ng-repeat="exp in expData">
		<h2><a title="{{exp.title}}" ng-href="#/experiments/{{exp.id}}">{{exp.title}}</a></h2>
		<p>{{exp.text}}</p>
	</div>
</div>