<div class="page header">
	<h1>{{experiment.title}}</h1>
	<small>{{experiment.id}}</small>
</div>
<p>{{experiment.text}}</p>
<a ng-href="#/experiments/{{experiment.id}}/edit" class="btn btn-default">Edit Experiment</a>
<a href="" ng-click="deleteExp(experiment)" class="btn btn-danger">Delete</a>